<div class="fixed-action-btn">
  <a routerLink='novo' class="btn-floating btn-large waves-effect waves-light red" href="">
    <i class="large material-icons">mode_edit</i>
  </a>
</div>

<h5>
  Lista de Contatos
</h5>

<hr>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-Mail</th>
      <th>Telefone</th>
      <th>Data Nascimento</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let contato of contatos">
      <td>
        {{contato.nome}}
      </td>

      <td>
        {{contato.email}}
      </td>

      <td>
        {{contato.telefone}}
      </td>

      <td>
        {{contato.data_nascimento}}
      </td>

      <td class="right-align">

        <a [routerLink]="['editar', contato.id]">
          <i class="material-icons">border_color</i> &nbsp; &nbsp;
        </a>

        <i class="material-icons">highlight_off</i>
      </td>
    </tr>

  </tbody>
</table>