<h6>Preencha seus dados de acesso !</h6>

<div class="row">
  <div class="input-field col s12">
    <label for="inputEmail">Login</label>
    <input type="text" name="login" id="login" required="" autofocus="">
  </div>

  <div class="input-field col s12">
    <label for="inputPassword">Senha</label>
    <input type="password" name="senha" id="senha" required="">
  </div>
</div>

<div class="text-center">
  <button class="waves-effect waves-light btn" type="submit">Acessar</button>

  <a href="lembrar_senha.php" class="waves-effect waves-light btn">Esqueci a Senha</a>
</div>