.bk-login {

    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url('../../assets/img/bk_login.png');
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.box-login {
    background-color: #d8e0e6;
    border-radius: 5px;
    box-shadow: 2px 4px 6px #424040;
    border: 1px solid #b9b7b7;
    margin-top: 100px;
}