<div class="row">
  <div class="col s6 m4">

    <div class="card">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../assets/img/contato-1.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          Nome Contato
          <i class="material-icons right">more_vert</i>
        </span>
      </div>

      <div class="card-reveal">

        <span class="card-title grey-text text-darken-4"> Nome Contato
          <i class="material-icons right">close</i>
        </span>

        <ul>

          <li>
            <b>Email:</b> Teste@email.com
          </li>

          <li>
            <b>Telefone:</b> 11981643300
          </li>

          <li>
            <b>Operadora:</b> Tim
          </li>

          <li>
            <b>Aniversário:</b> 15/09
          </li>

        </ul>
      </div>

      <div class="card-action">
        <a class="waves-effect waves-light btn blue center-align">
          <i class="material-icons right ">border_color</i> Editar
        </a>

        <a class="waves-effect waves-light btn red center-align">
          <i class="material-icons right ">delete</i> Deletar
        </a>
      </div>

    </div>

  </div>
</div>