<!--<nav>
  <div class="nav-wrapper" style="background-color: #5d866d">

    <a href="#" class="brand-logo" style="margin-left: 10px;">
      <i class="material-icons" style="font-size: 36px">contacts</i> Lista de Contatos
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="#!">
          Sair
          <i class="material-icons right">exit_to_app</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">

  <div class="col s12 m4 l3">

    <ul class="collapsible z-depth-0" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          Usuários
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          Contatos
        </div>

        <div class="collapsible-body">
          <ul>
            <li>
              <a href="">
                Lista de Contatos
              </a>
            </li>

            <li>
              <a href="">
                Importar Contatos
              </a>
            </li>
          </ul>

        </div>
      </li>
    </ul>

  </div>

  <div class="col s12 m8 l9">

    <app-usuarios></app-usuarios>

    <app-contatos></app-contatos>

    

  </div>

</div>-->

<app-login></app-login>