<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="">
    <i class="large material-icons">mode_edit</i>
  </a>
</div>

<h5>
  Lista de Usuários
</h5>

<hr>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Tipo</th>
      <th class="center-align">Ações</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let usuario of usuarios">
      <td>
        {{usuario.nome}}
      </td>

      <td>
        {{usuario.email}}
      </td>

      <td>
        {{usuario.tipo}}
      </td>

      <td class="right-align">
        <i class="material-icons">border_color</i> &nbsp; &nbsp;
        <i class="material-icons">highlight_off</i>
      </td>
    </tr>

  </tbody>
</table>